@use "../my-duomo" as *;
@use "configuration" as *;
@use "helpers" as *;

@mixin reset-spacing {
	> *:first-child {
		margin-top: 0 !important;
	}
	> *:last-child {
		margin-bottom: 0 !important;
	}
}

@mixin block-spacing {
	> * {
		@include margin-y(rem($base-fs * $base-lh));
	}
	> h1 + p,
	> h2 + p,
	> h3 + p,
	> h4 + p,
	> h5 + p,
	> h6 + p,
	> p + p {
		margin-top: rem(-1 * $base-fs * $base-lh / 2);
	}
}

@mixin base {
	@include reset-spacing;
	@include block-spacing;

	> *:not(div) {
		@include macos-retina;
		font: rem($base-fs) / $base-lh font-family(sans-serif);
		color: color(gray-800);
	}

	em {
		font-style: italic;
	}
	strong {
		$font-weight: 600;
		font-weight: $font-weight;
		code {
			font-weight: $font-weight - 100;
		}
	}
	*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(div) a {
		text-decoration: underline;
		color: color(gray-600);
	}
	small {
		font: rem($small-fs) / $small-lh font-family(sans-serif);
	}
}
