@use "configuration" as *;
@use "helpers" as *;
@use "variables" as *;

@mixin lists {
	$inset: 24;

	> ul {
		margin-left: rem($inset);
	}
	> ul > li {
		$m: rem(6);
		margin-top: $m;
		margin-bottom: $m;
	}
	> ul > li::before {
		position: absolute;
		margin-left: rem(-1 * $inset);
		content: "• ";
		color: color(blue-500);
	}

	> ol {
		margin-left: rem($inset);
	}
	> ol > li {
		$m: rem(6);
		margin-top: $m;
		margin-bottom: $m;
	}
	> ol > li:first-of-type {
		counter-reset: count;
	}
	> ol > li::before {
		position: absolute;
		margin-left: rem(-1 * $inset);
		content: counter(count) ". ";
		counter-increment: count; // Added property
		font-feature-settings: "tnum"; // Added property
		color: color(blue-500);
	}
}
