@mixin block-spacing {
	& > * + * {
		margin-top: rem($base-fs * $base-lh);
		margin-bottom: rem($base-fs * $base-lh);
	}

	& > h1 {
		margin-top: rem(1.5 * $base-fs * $base-lh);
		margin-bottom: rem($base-fs * $base-lh);
	}
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		margin-top: rem(1.5 * $base-fs * $base-lh);
		margin-bottom: 0;
	}

	& > * + p {
		margin-top: rem($base-fs);
		margin-bottom: 0;
	}
}

@mixin reset-spacing {
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

@mixin base {
	@include block-spacing;
	@include reset-spacing;

	& {
		@include macos-retina;

		font: rem($base-fs) / $base-lh $sans;
		color: var(--gray-800);
	}

	em {
		font-style: italic;
	}
	strong {
		font-weight: 600;
	}
	:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
		text-decoration: underline;
		color: var(--gray-600);
	}
	small {
		font-size: $fs-small-em;
	}
}
