@mixin reset-spacing {
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

@mixin block-spacing {
	& > * + * {
		margin-top: rem($base-fs * $base-lh / 2);
	}
	> * + h1,
	> * + h2,
	> * + h3,
	> * + h4,
	> * + h5,
	> * + h6 {
		margin-top: rem($base-fs * $base-lh);
	}
}

@mixin base {
	@include reset-spacing;
	@include block-spacing;

	& > *:not(div) {
		@include macos-retina;
		font: rem($base-fs) / $base-lh $sans;
		color: $gray-800;
	}

	em {
		font-style: italic;
	}
	strong {
		font-weight: 600;
		& code {
			font-weight: 500;
		}
	}
	*:not(div):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) a {
		text-decoration: underline;
		color: $gray-600;
	}
	small {
		font: em($small-fs) / $small-lh $sans;
	}
}
