@mixin code {
	*:not(pre) > code {
		@include no-macos-retina;

		padding: em(2) em(4);
		font: $fs-small-em / $base-lh $mono;
		color: var(--blue-600);
		background-color: var(--white);
		border: 1px solid var(--gray-300);
		border-radius: em(4);
	}

	pre {
		@include no-macos-retina;

		margin-left: rem(-16);
		margin-right: rem(-16);
		padding: rem(12) rem(16);
		background-color: var(--gray-800);
		font: $fs-small-em / $base-lh $mono;
		color: var(--white);
		border-radius: 0;
		@media (min-width: $sm) {
			& {
				margin-left: 0;
				margin-right: 0;
				padding: rem(12) rem(24);
				border-radius: rem(6);
			}
		}
	}
}
