@mixin code {
	*:not(pre) > code {
		@include no-macos-retina;
		padding: em(2) em(4);
		font: em($code-fs) / $code-lh $mono;
		font-weight: inherit;
		color: $blue-600;
		background-color: $white;
		border: 1px solid $gray-300;
		border-radius: em(4);
	}

	pre {
		@include no-macos-retina;
		margin-left: rem(-16);
		margin-right: rem(-16);
		padding: rem(12) rem(16);
		background-color: $gray-800;
		font: em($code-fs) / $code-lh $mono;
		// font-weight: inherit;
		color: $white;
		border-radius: 0;
		@media (min-width: $sm) {
			& {
				margin-left: 0;
				margin-right: 0;
				padding: rem(12) rem(24);
				border-radius: rem(6);
			}
		}
	}
}
