@mixin headers {
	h1 {
		font: 600 rem($head-h1-fs) / $head-lh $sans;
		color: var(--black);
	}
	h2 {
		font: 600 rem($head-h2-fs) / $head-lh $sans;
		color: var(--black);
	}
	h3,
	h3,
	h4,
	h5,
	h6 {
		font: 600 rem($head-h3-fs) / $head-lh $sans;
		color: var(--black);
	}

	// h1 code,
	// h4 code,
	// h3 code,
	// h4 code,
	// h5 code,
	// h6 code {
	// 	@include macos-retina;
	// }

	h1 > a:hover,
	h4 > a:hover,
	h3 > a:hover,
	h4 > a:hover,
	h5 > a:hover,
	h6 > a:hover {
		text-decoration: underline;
	}
}
