@mixin headers {
	h1 {
		font: 600 rem($head-h1-fs) / $head-lh $sans;
		color: $black;
		& code {
			font-weight: 500;
		}
	}
	h2 {
		font: 600 rem($head-h2-fs) / $head-lh $sans;
		color: $black;
		& code {
			font-weight: 500;
		}
	}
	h3,
	h4,
	h5,
	h6 {
		font: 600 rem($head-h3-fs) / $head-lh $sans;
		color: $black;
		& code {
			font-weight: 500;
		}
	}

	h1 > a:hover,
	h2 > a:hover,
	h3 > a:hover,
	h4 > a:hover,
	h5 > a:hover,
	h6 > a:hover {
		text-decoration: underline;
	}
}
