@import "./base";
@import "./code";
@import "./headers";
@import "./lists";

@import "./utils";
@import "./variables";

$base-fs: 18;
$base-lh: 1.6;

$head-h1-fs: 28;
$head-h2-fs: 24;
$head-h3-fs: 20;
$head-lh: 1.4;

$fs-small-em: em(13);

.prose {
	@include base;

	/*! @zaydek/prose | MIT License | https://github.com/zaydek/prose */
	@include code;
	@include headers;
	@include lists;
}
