@import "./base";
@import "./code";
@import "./headers";
@import "./lists";

@import "./functions";
@import "./variables";

$h1-font-size: 24;
$h2-font-size: 20;
$h3-font-size: 18;
$font-size: 16;
$font-size-small-em: em(13);

$small-h1-font-size: 28;
$small-h2-font-size: 24;
$small-h3-font-size: 20;
$small-font-size: 18;

.prose {
	@include base;
	@include code;
	@include headers;
	@include lists;
}
