@mixin lists {
	$inset: 24;

	ul {
		margin-left: rem($inset);
	}
	ul li {
		margin-top: rem(6);
		margin-bottom: rem(6);
	}
	ul li::before {
		margin-left: rem(-1 * $inset);
		position: absolute;
		content: "• ";
		color: $blue-500;
	}

	ol {
		margin-left: rem($inset);
	}
	ol li {
		margin-top: rem(6);
		margin-bottom: rem(6);
	}
	ol li:first-of-type {
		counter-reset: count;
	}
	ol li::before {
		margin-left: rem(-1 * $inset);
		position: absolute;
		content: counter(count) ". ";
		counter-increment: count; // Etc.
		font-feature-settings: "tnum"; // Etc.
		color: $blue-500;
	}
}
