// Ex:
//
// 16 -> 1rem
@function rem($n, $round: true) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@if ($round) {
		$n: round($n);
	}
	@return $n / 16 + rem;
}

// Ex:
//
// 16 -> 1em
@function em($n, $round: true) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@if ($round) {
		$n: round($n);
	}
	@return $n / 16 + em;
}

// Ex:
//
// 16 -> 16px
@function px($n, $round: true) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@if ($round) {
		$n: round($n);
	}
	@return $n + px;
}

@mixin no-macos-retina {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

@mixin macos-retina {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
