@use "sass:math";

// Ex:
//
// 16 -> 1rem
@function rem($n) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@return math.floor($n) / 16 + rem;
}

// Ex:
//
// 16 -> 1em
@function em($n) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@return math.floor($n) / 16 + em;
}

// Ex:
//
// 16 -> 16px
@function px($n) {
	@if type-of($n) != "number" {
		@return $n;
	}
	@return math.floor($n) + px;
}

@mixin no-macos-retina {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

@mixin macos-retina {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin margin-x($value) {
	margin-left: $value;
	margin-right: $value;
}

@mixin margin-y($value) {
	margin-top: $value;
	margin-bottom: $value;
}

@mixin padding-x($value) {
	padding-left: $value;
	padding-right: $value;
}

@mixin padding-y($value) {
	padding-top: $value;
	padding-bottom: $value;
}
